<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.Maple.dao.SystemMapper">
	<resultMap id="BaseResultMap" type="org.Maple.Api.entity.System">
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<result column="avatar" property="avatar" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="sex" property="sex" />
		<result column="create_user" property="createUser" />
		<result column="update_user" property="updateUser" />
		<result column="create_date" property="createDate" />
		<result column="update_date" property="updateDate" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="deleted" property="deleted" />
	</resultMap>

	<sql id="Base_Column_List">
		id,
		user_name,
		password,
		salt,
		avatar,
		name,
		phone,
		email,
		sex,
		create_user,
		update_user,
		create_date,
		update_date,
		remark,
		status,
		deleted
	</sql>

	<!-- 根据id查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from SYS_ROLE where id = #{id}
	</select>

	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from SYS_ROLE where id = #{id}
	</delete>
</mapper>