<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	
<!-- 传说中的面包屑，，自己修改成自己的   begin -->
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon active"></i>
			<a href="${contextPath}/index">首页</a>
		</li>
	</ul><!-- .breadcrumb -->
<!-- 传说中的面包屑，，自己修改成自己的  end -->

</div>

<div class="page-content">
		<!-- 右侧选择皮肤浮动窗口 begin -->
		<#--<#include "/public/toolbar/default.html">-->
		<!-- 右侧选择皮肤浮动窗口 end -->   
						<div class="row">
							<div class="col-xs-12" style="height: 800px;">
								<script type="text/javascript">
									var $path_base = "/";//this will be used in gritter alerts containing images
								</script>
									 欢迎来到  冉思科技- 管理控制中心<br>
								 为了达到最优的浏览效果，强烈建议您使用 <a href="http://www.firefox.com.cn/" target="_blank">火狐FireFox</a>
									或者 <a href="http://rj.baidu.com/search/index/?kw=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8" target="_blank">谷歌浏览器 GoogleChrome</a>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				