<#assign contextPath=springMacroRequestContext.getContextPath() />
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="blue bigger" >修改密码</h4>
</div>

<div class="modal-body" >

<div class="alert alert-danger" style="display: none;" id="alert_error">
	<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>

	<strong>
		<i class="ace-icon fa fa-times"></i>
		错误！
	</strong>
		<span id="alert_error_content">保存失败！</span>
	<br />
</div>

<div class="alert alert-block alert-success" style="display: none;" id="alert_success">
	<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>

	<p>
		<strong>
			<i class="ace-icon fa fa-check"></i>
			成功 ！
		</strong>
		<span id="alert_success_content">保存成功！</span>
	</p>

</div>
	
	
	
	
	
<div class="row">
	<div class="col-xs-12">	
		<form class="form-horizontal" id="sample-form">
			
				<div class="form-group has-info">
					<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">原始密码：</label>
					<div class="col-xs-12 col-sm-5">
						<span class="block input-icon input-icon-right">
							<input type="password" id="oldPwd" class="width-100" value="" onblur="checkValue($(this));"/>
							<i class="ace-icon fa "></i>
						</span>
					</div>
					<div class="help-block col-xs-12 col-sm-reset inline"></div>
				</div>
				
				<div class="form-group has-info">
					<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">新密码：</label>
					<div class="col-xs-12 col-sm-5">
						<span class="block input-icon input-icon-right">
							<input type="password" id="newPwd" class="width-100" value="" onblur="checkValue($(this));"/>
							<i class="ace-icon fa "></i>
						</span>
					</div>
					<div class="help-block col-xs-12 col-sm-reset inline"></div>
				</div>
				<div class="form-group has-info">
					<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right"></label>
					<div class="col-xs-12 col-sm-5">
						<div class="ywz_zhuce_xiaoxiaobao">
							<div class="help-block col-xs-12 col-sm-reset inline"></div>
							<div class="ywz_zhuce_huixian" id='pwdLevel_1'> </div>
				            <div class="ywz_zhuce_huixian" id='pwdLevel_2'> </div>
				            <div class="ywz_zhuce_huixian" id='pwdLevel_3'> </div>
				            <div class="ywz_zhuce_hongxianwenzi"> 弱</div>
				            <div class="ywz_zhuce_hongxianwenzi"> 中</div>
				            <div class="ywz_zhuce_hongxianwenzi"> 强</div>
			            </div>
					</div>
				</div>
				 
		            			
				<div class="form-group has-info">
					<label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">重复新密码：</label>
					<div class="col-xs-12 col-sm-5">
						<span class="block input-icon input-icon-right">
							<input type="password" id="rNewPwd" class="width-100" value=""  onblur="checkValue($(this));"/>
							<i class="ace-icon fa "></i>
						</span>
					</div>
					<div class="help-block col-xs-12 col-sm-reset inline"></div>
				</div>
			
		</form>

	</div>
</div>
	
</div>

<div class="modal-footer">
	<button class="btn btn-sm btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-times"></i>关闭</button>
	<button class="btn btn-sm btn-primary ladda-button" data-style="slide-down" onclick="submitNewPwd();" id="submit_btn">
		<span class="ladda-label">
		<i class="ace-icon fa fa-check"></i>
		保存</span>
	</button>
</div>
<script type="text/javascript">
///header头部 设置以及个人资料 模态框
	$("#modal-form-update-pwd").on("hide.bs.modal", function () {
			$(this).removeData("bs.modal");
	});
	
	
	
	
	 $('#newPwd').focus(function () {
            $('#pwdLevel_1').attr('class', 'ywz_zhuce_hongxian');
            $('#newPwd').keyup();
        });

        $('#newPwd').keyup(function () {
            var __th = $(this);

            if (!__th.val()) {
                $('#pwd_tip').hide();
                $('#pwd_err').show();
                Primary();
                return;
            }
            if (__th.val().length < 6) {
                $('#pwd_tip').hide();
                $('#pwd_err').show();
                Weak();
                return;
            }
            var _r = checkPassword(__th);
            if (_r < 1) {
                $('#pwd_tip').hide();
                $('#pwd_err').show();
                Primary();
                return;
            }

            if (_r > 0 && _r < 2) {
                Weak();
            } else if (_r >= 2 && _r < 4) {
                Medium();
            } else if (_r >= 4) {
                Tough();
            }

            $('#pwd_tip').hide();
            $('#pwd_err').hide();
        });

     

        function Primary() {
            $('#pwdLevel_1').attr('class', 'ywz_zhuce_huixian');
            $('#pwdLevel_2').attr('class', 'ywz_zhuce_huixian');
            $('#pwdLevel_3').attr('class', 'ywz_zhuce_huixian');
        }

        function Weak() {
            $('#pwdLevel_1').attr('class', 'ywz_zhuce_hongxian');
            $('#pwdLevel_2').attr('class', 'ywz_zhuce_huixian');
            $('#pwdLevel_3').attr('class', 'ywz_zhuce_huixian');
        }

        function Medium() {
            $('#pwdLevel_1').attr('class', 'ywz_zhuce_hongxian');
            $('#pwdLevel_2').attr('class', 'ywz_zhuce_hongxian2');
            $('#pwdLevel_3').attr('class', 'ywz_zhuce_huixian');
        }

        function Tough() {
            $('#pwdLevel_1').attr('class', 'ywz_zhuce_hongxian');
            $('#pwdLevel_2').attr('class', 'ywz_zhuce_hongxian2');
            $('#pwdLevel_3').attr('class', 'ywz_zhuce_hongxian3');
        }




        function checkPassword(pwdinput) {
            var maths, smalls, bigs, corps, cat, num;
            var str = $(pwdinput).val();
            var len = str.length;

            var cat = /.{16}/g;
            if (len == 0) return 1;
            if (len > 16) { $(pwdinput).val(str.match(cat)[0]); }
            cat = /.*[\u4e00-\u9fa5]+.*$/;
            if (cat.test(str)) {
                return -1;
            }
            cat = /\d/;
            var maths = cat.test(str);
            cat = /[a-z]/;
            var smalls = cat.test(str);
            cat = /[A-Z]/;
            var bigs = cat.test(str);
            var corps = corpses(pwdinput);
            var num = maths + smalls + bigs + corps;

            if (len < 6) { return 1; }

            if (len >= 6 && len <= 8) {
                if (num == 1) return 1;
                if (num == 2 || num == 3) return 2;
                if (num == 4) return 3;
            }

            if (len > 8 && len <= 11) {
                if (num == 1) return 2;
                if (num == 2) return 3;
                if (num == 3) return 4;
                if (num == 4) return 5;
            }

            if (len > 11) {
                if (num == 1) return 3;
                if (num == 2) return 4;
                if (num > 2) return 5;
            }
        }

        function corpses(pwdinput) {
            var cat = /./g;
            var str = $(pwdinput).val();
            var sz = str.match(cat);
            for (var i = 0; i < sz.length; i++) {
                cat = /\d/;
                maths_01 = cat.test(sz[i]);
                cat = /[a-z]/;
                smalls_01 = cat.test(sz[i]);
                cat = /[A-Z]/;
                bigs_01 = cat.test(sz[i]);
                if (!maths_01 && !smalls_01 && !bigs_01) { return true; }
            }
            return false;
        }
	
	
	
	
	
	
	
	
	
	
	
	function submitNewPwd(){

		if(!checkValue($("#oldPwd")) 
				|| !checkValue($("#newPwd")) 
				|| !checkValue($("#rNewPwd"))){
			return;
		}
		
		var oldPwd = hex_md5($("#oldPwd").val());
		var newPwd = hex_md5($("#newPwd").val());
		var rNewPwd =  hex_md5($("#rNewPwd").val());
		
		if(newPwd != rNewPwd){
			$("#rNewPwd").next().addClass("fa-times-circle");
			$("#rNewPwd").parent().parent().next().html("重复新密码不一致");
			$("#rNewPwd").parent().parent().parent().addClass("has-error");
			$("#rNewPwd").parent().parent().parent().removeClass("has-info");
			return;
		}else{
			$("#rNewPwd").next().removeClass("fa-times-circle");
			$("#rNewPwd").parent().parent().next().html("");
			$("#rNewPwd").parent().parent().parent().removeClass("has-error");
			$("#rNewPwd").parent().parent().parent().addClass("has-info");
		}
		
		
		if($("#pwdLevel_2").attr("class") != "ywz_zhuce_hongxian2"){
			$("#newPwd").next().addClass("fa-times-circle");
			$("#newPwd").parent().parent().next().html("您的新密码太过脆弱");
			$("#newPwd").parent().parent().parent().addClass("has-error");
			$("#newPwd").parent().parent().parent().removeClass("has-info");
			return;
		}else{
			$("#newPwd").next().removeClass("fa-times-circle");
			$("#newPwd").parent().parent().next().html("");
			$("#newPwd").parent().parent().parent().removeClass("has-error");
			$("#newPwd").parent().parent().parent().addClass("has-info");
		}
		
		
		
		var ladda = Ladda.create(document.querySelector("#submit_btn"));
		ladda.start();
		
 		$.ajax({
			url:"${contextPath}/user/update_pwd",
			type:"post",
	  	    data:{oldPwd:oldPwd,newPwd:newPwd},
			dataType:"text",
			success:function(data){
    			if(data=="success"){
    				show_success("保存成功，密码将在您下次登录时生效！");
    			}else if(data=="old_pwd_error"){
    				show_error("原始密码错误！");
    			}else{
    				show_error("保存失败！");
    			}
		 		ladda.stop();
    		},
    		error:function(){
    			show_error("保存失败！");
		 		ladda.stop();
    		}
　　});
}
	
	function checkValue(object){
		var value = object.val().trim();
		if(value == null || value == ""){
			object.next().addClass("fa-times-circle");
			object.parent().parent().next().html("不可为空");
			object.parent().parent().parent().addClass("has-error");
			object.parent().parent().parent().removeClass("has-info");
			return false;
		}else{
			object.next().removeClass("fa-times-circle");
			object.parent().parent().next().html("");
			object.parent().parent().parent().removeClass("has-error");
			object.parent().parent().parent().addClass("has-info");
			return true;
		}
	}
	
	function show_success(content){
		$("#alert_success").show();
		$("#alert_success_content").html(content);
		$("#alert_error").hide();
		window.setTimeout("$('#alert_success').hide();$('#alert_success_content').html('');", 2000);
	}
	
	function show_error(content){
		$("#alert_error").show();
		$("#alert_error_content").html(content);
		$("#alert_success").hide();
		window.setTimeout("$('#alert_error').hide();$('#alert_error_content').html('');", 2000);
	}
	
</script>