<#assign contextPath=springMacroRequestContext.getContextPath() />
<div id="sidebar" class="sidebar                  responsive">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>
	
	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<a class="btn btn-success" href="javascript:">
				<i class="ace-icon fa fa-signal"></i>
			</a>
			<a class="btn btn-danger" href="javascript:">
				<i class="ace-icon fa fa-cogs"></i>
			</a>
			<a class="btn btn-info"  href="${contextPath}/user/to_update_pwd" data-toggle="modal" data-target="#modal-form-update-pwd" title="修改密码" >
				<i class="ace-icon fa fa-pencil"></i>
			</a>
			<a class="btn btn-warning"  href="${contextPath}/user/to_update" data-toggle="modal" data-target="#modal-form-header" title="设置个人资料">
				<i class="ace-icon fa fa-users"></i>
			</a>
		</div>
	
	</div><!-- /.sidebar-shortcuts -->
	
	
	            <!--  Menu begin -->
	              ${menuHtml!''}
	            <!-- Menu end  -->
	
	            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
	
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>

</div>